# Basic Settings
# Documentation: http://krpano.com/tools/kmakemultires/config?version=10815
# krpano tools 1.0.8.15

# always embed the viewer licenses
embedlicenses=true

# standalone swf setting - 'no menubar' and swf window size
kprotectclparameters=-nomb -swfsize=900x600

# path to the base krpano.swf file
krpanoswf=../krpano.swf

# image filtering and compression settings
filter=LANCZOS
jpegquality=82
jpegsubsamp=422
jpegoptimize=true
