# Virtual Tour with Multi-Resolution Panos
# Skin with Scrolling-Thumbnails, Bingmaps, Gyroscope
# Documentation: http://krpano.com/tools/kmakemultires/config?version=10815
# krpano 1.0.8.15

# basic settings
include basicsettings.config
panotype=autodetect
hfov=360
makescenes=true
html5=auto

# convert spherical/cylindrical to cubical
converttocube=true
converttocubelimit=360x45

# multiresolution settings
multires=true
tilesize=512
levels=auto
levelstep=2
maxsize=auto
maxcubesize=auto
leveldownload=auto

# output images path
tilepath=%INPUTPATH%/vtour/panos/%BASENAME%.tiles/l%Al[_c]_%Av_%Ah.jpg

# preview pano settings
preview=true
graypreview=false
previewsmooth=25
previewpath=%INPUTPATH%/vtour/panos/%BASENAME%.tiles/preview.jpg

# generate smaller mobile images
customimage[mobile].size=1024
customimage[mobile].path=%INPUTPATH%/vtour/panos/%BASENAME%.tiles/mobile_%s.jpg
customimage[mobile].imagesettings=jpegquality=85 jpegsubsamp=444 jpegoptimize=true
customimage[mobile].xml=<mobile>[NL][TAB]<cube url="[PATH]" />[NL]</mobile>
#customimage[ipad3].size=1400
#customimage[ipad3].path=%INPUTPATH%/vtour/panos/%BASENAME%.tiles/ipad3_%s.jpg
#customimage[ipad3].imagesettings=-jpegquality=82 -jpegsubsamp=422 -jpegoptimize=true
#customimage[ipad3].xml=<mobile devices="iPad+Retina">[NL][TAB]<cube url="[PATH]" />[NL]</mobile>

# generate thumbnails
makethumb=true
thumbsize=240
thumbpath=%INPUTPATH%/vtour/panos/%BASENAME%.tiles/thumb.jpg

# xml output
xml=true
xmlpath=%INPUTPATH%/vtour/tour.xml

# skin / xml template
include vtourskin-scrolling-thumbnails-bingmaps-gyro.skin

# html output/template
html=true
htmlpath=%INPUTPATH%/vtour/tour.html
htmltemplate=html/swfkrpano.html
htmltemplate_js=html/swfkrpano.js

# include vtour editor
xmltemplate_additional_file=xml/plugins/vtoureditor.swf
htmltemplate_additional_file=html/tour_editor.html
